.w_100{
    width: 100% !important;
}
.border-img{
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    
}
@media(min-width:600px){
    .top_navbar{
    box-shadow: 0 0 50px gray !important;
}

#top_actions_section{
    display: flex !important;
    align-items: center !important;
}
}



.users_list_item.active .user_list_Arrow_icon{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.users_list_item.active , .user_list_item.active .collapsible-header{
    background-color: rgba(182, 182, 182, 0.26);

}
table.highlight > tbody > tr:hover{
    background-color: rgba(8, 117, 241, 0.534);
}
.container{
    width: 100% !important;
}

.add_user_modal_back{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 999;
}

.add_user_modal{
    position: fixed;
    height: 70vh;
    background-color: white;
    bottom: 0;
    z-index: 1000;
    border-radius: 30px 30px 0 0;
    -webkit-border-radius: 30px 30px 0 0;
    -moz-border-radius: 30px 30px 0 0;
    -ms-border-radius: 30px 30px 0 0;
    -o-border-radius: 30px 30px 0 0;
    left: 0;
    right: 0;
    bottom: -70vh;
}
.add_user_modal.show{
    box-shadow: 0 0 10px blue;
    bottom: 0;
}