.w_100{
    width: 100% !important;
}
.border-img{
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    
}
@media(min-width:600px){
    .top_navbar{
    box-shadow: 0 0 50px gray !important;
}

#top_actions_section{
    display: flex !important;
    align-items: center !important;
}
}
